.frame {
  position: relative;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(
      284.24deg,
      rgba(134, 137, 231, 0.2) -0.11%,
      rgba(0, 0, 0, 0) 63.13%
    ),
    linear-gradient(
      141.58deg,
      rgba(244, 130, 130, 0.2) -30.92%,
      rgba(244, 130, 130, 0) 74.94%
    ),
    linear-gradient(0deg, rgba(13, 13, 13, 0.9), rgba(13, 13, 13, 0.9)), #e2e2e2;
}
.square {
  position: absolute;
  width: 268px;
  left: 590px;
}
.year_selector {
}

.font1 {
  /* font1 */
  color: #8b8b8b;
}
.font2 {
  /* font4 */
  color: #d9d9d9;
}
.font3 {
  /* font2 */
  color: #fafafa;
}
