.frame1 {
  height: 100vh;
  background: url(../assets/img/frame1_back.png) center no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
.frame1_bar {
  padding: 15px 120px 15px 160px;
  justify-content: space-between;
}
.logo {
  width: 243px;
}
.frame1_nav div {
  color: #fafafa;
  margin: 0 30px;
  font-size: 16px;
}
.leftWind {
  position: absolute;
  top: 0;
  width: 593px;
}
.leftWind span {
  width: 100% !important;
}
.diZuo {
  width: 1174px;
  height: 553px;
  position: absolute;
  left: 75px;
}
.quanquan {
  width: 727px;
  position: absolute;
  left: 175px;
}
.juanjuan {
  width: 1231px;
  position: absolute;
  left: 115px;
}
.ball {
  position: absolute;
  left: 160px;
  width: 1045px;
}
.bolikuai {
  position: absolute;
  width: 1030px;
  left: 90px;
}
.zuoxia {
  position: absolute;
  width: 120px;
  left: 243px;
  bottom: 0;
}
.zhongjian {
  position: absolute;
  width: 109.59px;
  left: 715px;
}
.youshang {
  position: absolute;
  width: 161px;
  left: 1005px;
}
.banzi {
  position: absolute;
  width: 518px;
  left: 765px;
}
.yun {
  position: absolute;
  width: 448px;
  left: 1065px;
  top: 1vh;
}
.yes {
  position: absolute;
  width: 167px;
  left: 850px;
}
.youxia {
  position: absolute;
  width: 257px;
  left: 921px;
  bottom: 0;
}
.ball2 {
  position: absolute;
  width: 113px;
  left: 1185px;
  bottom: 5vh;
}
/* frame2 */
.frame2 {
  height: 100vh;
  background: url(../assets/img/frame2/logo.png) center no-repeat #000;
  background-size: 100% 100%;
  position: relative;
}
.bannar {
  position: absolute;
  width: 547px;
  background: url(../assets/img/frame2/Rectangle\ 6.png) center no-repeat;
  background-size: 100% 100%;
  left: 120px;
  font-family: Dubai;
}
.font1 {
  width: 386px;
  position: absolute;
  left: 68px;
}
.star1 {
  position: absolute;
  width: 80px;
  left: 273px;
  top: 5px;
}
.star2 {
  position: absolute;
  width: 45px;
  left: 341px;
}
.vector {
  position: absolute;
  width: 240px;
  left: 510px;
}
.font2 {
  position: absolute;
  left: 70px;
  width: 440px;
  font-size: 16px;
  color: #c4c4c4;
  line-height: 24px;
}
.title1 {
  width: 619px;
  position: absolute;
  left: 120px;
  color: #fafafa;
}
.article1 {
  width: 1197px;
  position: absolute;
  left: 120px;
  color: #d9d9d9;
}
/* frame3 */
.frame3 {
  background: #080808;
  background-size: 100% 100%;
  position: relative;
}
.box {
  width: 449px;
  margin: 0 auto;
  position: relative;
}
.vector2 {
  width: 122px;
  position: absolute;
}
.font3 {
  width: 72px;
  color: #fff;
  position: absolute;
  left: 221px;
}
.font4 {
  width: 228px;
  left: 221px;
  position: absolute;
  color: #fff;
}
/* frame4 */
.frame4 {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03)
    ),
    #0d0d0d;
  overflow: hidden;
  width: 500vw;
  position: relative;
}
.p1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  float: left;
  transition: all 0.3s linear;
}
.p1box {
  position: absolute;
  width: 498px;
  left: 120px;
}
.p2box {
  position: absolute;
  left: 822px;
  width: 498px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.p3box {
  position: absolute;
  width: 500px;
  left: 120px;
}
.p4box {
  position: absolute;
  width: 540px;
  left: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.p5box {
  position: absolute;
  width: 542px;
  left: 120px;
}
.font5 {
  width: 144px;
  color: #fafafa;
}
.font6 {
  width: 310px;
  color: #6a6a6a;
  position: absolute;
}
.font7 {
  width: 498px;
  color: #d9d9d9;
  position: absolute;
}
.font8 {
  position: absolute;
  color: #8b8b8b;
  left: 2px;
  text-decoration: underline;
  cursor: pointer;
}
.font9 {
  position: absolute;
  width: 180px;
  color: #fff;
}
.font10 {
  color: #fafafa;
  position: absolute;
  width: 180px;
}
.font11 {
  position: absolute;
  color: #8b8b8b;
  text-decoration: underline;
  cursor: pointer;
}
.arrow {
  width: 24px;
  position: absolute;
  left: 2px;
}
.arrow2 {
  width: 24px;
  position: absolute;
}
.bolikuai2 {
  position: absolute;
  width: 111px;
  left: 548px;
  opacity: 0.5;
}
.bolikuai3 {
  position: absolute;
  width: 111px;
  left: 749px;
  opacity: 0.5;
}
.bolikuai4 {
  position: absolute;
  width: 70px;
  left: 1023px;
  opacity: 0.5;
  transform: rotate(-56.28deg);
}
.bolikuai5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 111px;
  opacity: 0.5;
}
.bolikuai6 {
  position: absolute;
  left: 931px;
  width: 111px;
  opacity: 0.5;
}
.back {
  width: 669px;
  position: absolute;
  left: 793px;
  top: 0;
  background: url(../assets/img/frame4/Rectangle\ 1933.png) center no-repeat
    transparent;
  background-size: 100% 100%;
}
.back2 {
  width: 712px;
  left: -95px;
  background: url(../assets/img/frame4/Ellipse\ 85.png) center no-repeat
    transparent;
  background-size: 100% 100%;
  position: absolute;
}
.back3 {
  width: 740px;
  left: 796px;
  background: url(../assets/img/frame4/back.png) center no-repeat transparent;
  background-size: 100% 100%;
  position: absolute;
}
.back4 {
  width: 660px;
  left: -99px;
  background: url(../assets/img/frame4/Ellipse\ 86.png) center no-repeat
    transparent;
  background-size: 100% 100%;
  position: absolute;
}
.zu1 {
  position: absolute;
  width: 548px;
  left: 759px;
}
.zu2 {
  position: absolute;
  left: 47px;
  width: 600px;
}
.zu3 {
  position: absolute;
  width: 610px;
  left: 736px;
}
.zu4 {
  width: 538px;
  left: 86px;
  position: absolute;
}
.qrcode1 {
  position: absolute;
  width: 86px;
  right: 0px;
  bottom: 0;
}
.qrcode2 {
  position: absolute;
  width: 86px;
}
.xingyun {
  position: absolute;
  width: 218px;
  left: 736px;
}
.xingyun2 {
  position: absolute;
  width: 167px;
  opacity: 0.6;
  left: 73px;
}
.producet_nav {
  position: absolute;
  width: 207px;
  left: 120px;
  display: flex;
}
.producet_nav div {
  width: 12px;
  height: 12px;
  border: 1px solid #6a6a6a;
  border-radius: 6px;
  margin-right: 18px;
  cursor: pointer;
}
.producet_nav div.active {
  background-color: #d9d9d9;
}
/* frame5 */
.frame5 {
  background: linear-gradient(0deg, #080808, #080808), #e2e2e2;
  background-size: 100% 100%;
  position: relative;
}
.box2 {
  position: absolute;
  width: 362px;
  left: 634px;
}
.font12 {
  color: #fff;
  position: absolute;
  width: 48px;
  left: 599px;
}
.font13 {
  color: #fff;
  position: absolute;
  left: 599px;
  min-width: 192px;
}
/* frame6 */
.frame6 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  padding-left: 120px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(
      284.24deg,
      rgba(134, 137, 231, 0.2) -0.11%,
      rgba(0, 0, 0, 0) 63.13%
    ),
    linear-gradient(
      141.58deg,
      rgba(244, 130, 130, 0.2) -30.92%,
      rgba(244, 130, 130, 0) 74.94%
    ),
    linear-gradient(0deg, rgba(13, 13, 13, 0.9), rgba(13, 13, 13, 0.9)), #e2e2e2;
}
.square {
  width: 283px;
  background: #eff6f9;
  border-radius: 32px;
  margin-right: 48px;
}
.fragment1 {
  width: 207px;
  margin-right: 48px;
  background-color: #1b1b1b;
  border-radius: 32px;
}
.fragment2 {
  width: 118px;
  background-color: #1b1b1b;
  border-radius: 32px;
  margin-right: 84px;
}
.square2 {
  width: 238px;
  margin-right: 145px;
}
.pic1 {
  width: 76px;
  margin-left: 42px;
}
.title2 {
  margin-left: 48px;
}
.pic2 {
  width: 155px;
  margin-left: 6px;
}
.title3 {
  margin-left: 42px;
}
/* frame7 */
.frame7 {
  background: #080808;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
}
.box3 {
  width: 190px;
  margin-right: 8px;
}
.box4 {
  width: 115px;
  margin-left: 28px;
}
