.home {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.frame1 {
  width: 100vw;
  height: 100vh;
  background: url(../assets//img/frame1_back.png) center no-repeat;
  background-size: 100% 100%;
}
.frame1_bar {
  padding: 15px 0;
}
.frame1_nav div {
  color: #fff;
  margin: 0 30px;
}
