.box {
  position: relative;
  overflow: hidden;
}
.item {
  width: 1440px;
  position: relative;
}

.nav_box {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.nav_box li {
  position: relative;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 12px;
  cursor: pointer;
  transition: width 0.3s;
}

.nav_box span {
  display: block;
  width: 100%;
  height: 100%;
}

.h1 {
  position: relative;
  color: #000;
  display: flex;
  align-items: center;
  left: 13px;
}

.h1 > div {
  z-index: 1;
}

.h1 > span {
  position: absolute;
  left: -13px;
  width: 21px;
  height: 21px;
  background-color: #ff406e;
  z-index: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wraper {
  background-color: #fafafa;
  width: 100vw;
}

.box2 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.event {
  padding: 16px;
  background: #ffffff;
  box-shadow: 6px 8px 16px rgba(143, 114, 114, 0.1);
  border-radius: 32px;
  width: 282px;
  margin-right: 24px;
}

.pic {
  width: 250px;
}

.event_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.moreEvent {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 282px;
  background: #ffffff;
  box-shadow: 6px 8px 16px rgba(143, 114, 114, 0.1);
  border-radius: 32px;
  padding-left: 40px;
}

.moreEvent > div:nth-child(1) {
  color: #141414;
}
.moreEvent > div:nth-child(2) {
  width: 24px;
  position: absolute;
}
.moreEvent > div:nth-child(3) {
  width: 125px;
  position: absolute;
  right: 34px;
}

.pic2 {
  position: absolute;
  width: 86px;
  right: 36px;
}

.product {
  position: relative;
  width: 333px;
  margin-right: 24px;
  padding-left: 24px;
  border-radius: 32px;
  background: radial-gradient(
      70.87% 164.3% at 90.69% 17.61%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.91) 35.59%,
      #ffffff 55.45%
    ),
    url(../assets/img/about/back.png) center no-repeat;
  border-radius: 32px;
  background-size: 100% 100%;
}

.product > div:nth-child(3) {
  width: 145px;
}

.box3 {
  position: absolute;
  padding-left: 14px;
  width: 100vw;
  z-index: 0;
}

.box3 > div:nth-child(1) {
  position: absolute;
  width: 1426px;
  height: 100%;
  background: #ededed;
  border-radius: 100px;
  left: -106px;
}

.box3 > div:nth-child(2) {
  position: absolute;
  width: 354px;
  right: 130px;
  height: 100%;
  background: #ff406e;
  color: #fff;
  padding-left: 178px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box3 > div:nth-child(2) > div:nth-child(2) {
  width: 24px;
}

.r {
  position: absolute;
  width: 614px;
  left: 677px;
  z-index: 0;
}

.box4 {
  width: 100%;
  background: #ffffff;
  box-shadow: 6px 8px 16px rgba(143, 114, 114, 0.1);
  border-radius: 32px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 85px;
}

.yinhao {
  position: absolute;
  width: 51px;
  left: 56px;
}

.art {
  margin-left: 115px;
  width: 795px;
  color: #000;
}

.btn {
  outline: none;
  color: #ff406e;
  background: transparent;
  border-color: #ff406e;
  width: 128px;
  border-radius: 5px;
  cursor: pointer;
}
