.box {
  padding: 0 120px;
}

.h1 {
  position: relative;
  color: #000;
  display: flex;
  align-items: center;
  left: 13px;
}

.h1 > div {
  z-index: 1;
}

.h1 > span {
  position: absolute;
  left: -13px;
  width: 21px;
  height: 21px;
  background-color: #ff406e;
  z-index: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
