.box {
  padding: 0 120px;
}

.h1 {
  position: relative;
  color: #000;
  display: flex;
  align-items: center;
  left: 13px;
}

.h1 > div {
  z-index: 1;
}

.h1 > span {
  position: absolute;
  left: -13px;
  width: 21px;
  height: 21px;
  background-color: #ff406e;
  z-index: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item {
  width: 384px;
  background: #ffffff;
  box-shadow: 6px 8px 16px rgba(143, 114, 114, 0.1);
  border-radius: 32px;
  margin-right: 24px;
}

.a {
  width: 152px;
  margin-right: 34px;
}

.p {
  width: 121px;
}

.tab_container {
  position: relative;
  width: 1200px;
  border-radius: 32px;
  box-shadow: 6px 8px 16px rgba(143, 114, 114, 0.1);
  padding: 0 88px;
  z-index: 1;
  background-color: #fff;
}

.tab_container > div:nth-child(1) {
  color: #141414;
}
.tab_container > div:nth-child(2) {
  color: #2e2e2e;
}

.pic {
  width: 243px;
  position: absolute;
  right: 80px;
}

.btn {
  outline: none;
  color: #ff406e;
  background: transparent;
  border-color: #ff406e;
  width: 128px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -64px;
}
