.mask {
  position: absolute;
  z-index: 999;
  width: 100vw;
  background: #00000073;
  top: 0;
  transition: transform 0.15s linear;
  transform: translateY(-100%);
  transform-origin: 50% 50%;
}
.search_box {
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.008) -7.97%,
      rgba(0, 0, 0, 0) 59.21%
    ),
    #f9f9f9;
}
.search_head {
  position: relative;
  width: 868px;
  margin: 0 auto;
}
.search_ipt {
  outline: none;
  border: 0;
  font-size: 20px;
  font-weight: 400;
  color: #2e2e2e;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  vertical-align: top;
  background-color: transparent;
}
.search_line {
  background-color: #6a6a6a;
  border: 0 solid #6a6a6a;
  margin: 0 34px;
}
.search_icon {
  width: 25px;
  position: absolute;
  right: 34px;
  cursor: pointer;
  top: 3px;
}
.ipt_box {
  position: relative;
  display: flex;
  align-items: center;
}
.close {
  width: 18px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
